@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap&family=Lato&family=Zilla+Slab:wght@400;500&display=swap');


/*--- Default Overrides ---*/
a:hover {
    text-decoration: none;
}

a {
    color: initial;
}

button:focus{
    outline: none;
}

.row {
    margin: 0;
}

/*--- Margin Overrides ---*/

/*--- Text Presets ---*/
.logo-text{
    font-family: 'Caveat', cursive;
}

#allauth-content label,
.heading-text{
    font-family: 'Zilla Slab', serif;
}

#allauth-content input,
.body-text{
    font-family: 'Lato', sans-serif;
}

.text-xxl{
    font-size: 2.5em;
}

.text-l{
    font-size: 1.5em;
}

.text-m {
    font-size:1em;
}

.text-s {
    font-size: 0.75em;
}

/*--- reusuable elements ---*/

.wrapper {
    height: 100%;
    width: 100%;
    position: relative;
}

/*--- Colors ---*/

colours {
    color: #da2841;
    color: #ffffff;
    color: #28dac1;
    color: #06231f;
    color: #ede8e8;
    color: #404245;
}

header {
    background-color: #da2841;
}

.btn {
    background-color: #28dac1;
}

.btn:hover {
    background-color: #06231f;
}


footer {
    background-color: #404245;
}

#homepage-background>.wrapper{

    background-color: rgba(237, 232, 232, 0.2);
}

.btn:hover,
.button,
#main-navbar a,
#main-navbar li {
    color: #ffffff;
}

#homepage-brand h1{
    color: #da2841;
}

/*--- Navbar ---*/

#search-button{
    width: 30px;
}

#small-screen-search {
    display: none;
    margin-top: 0;
}

#small-screen-search .input-group {
    width: 100%;
}
/*--- Homepage ---*/

#homepage-background {

    height: 100vh;
    width: 100%;
    background: url('/static/home/images/group-quiz.jpg') no-repeat center;
    background-size: cover;

}

#homepage-brand{
    position: absolute;
    width: 100%;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#homepage-menu {
    position: absolute;
    width: 100%;
    top: 80%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#homepage-brand h1 {
    font-size: 4em;
    font-weight: bolder;
}

/*--- Media Breakpoints ---*/

@media (max-width: 450px){
    .navbar-brand{
        font-size: 1.5em;
    }
}

@media (max-width: 990px){
    #logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}