@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@600&display=swap&family=Lato&family=Zilla+Slab:wght@400;500&display=swap');


/*----------Default Overrides--------------*/
a:hover {
    text-decoration: none;
}

button:focus{
    outline: none;
}

.row {
    margin: 0;
}

/*------------Margin Overrides-------------*/

/*--------Text Presets--------*/
.logo-text{
    font-family: 'Caveat', cursive;
}

#allauth-content label,
.heading-text{
    font-family: 'Zilla Slab', serif;
}

#allauth-content input,
.body-text{
    font-family: 'Lato', sans-serif;
}

.text-xxl{
    font-size: 2.5em;
}

.text-l{
    font-size: 1.5em;
}

.text-m {
    font-size:1em;
}

.text-s {
    font-size: 0.75em;
}

/*------------ Colors ------------*/

colours {
    color: #da2841;
    color: #ffffff;
    color: #28dac1;
    color: #06231f;
    color: #ede8e8;
    color: #404245;
}

header {
    background-color: #da2841;
}

#main-navbar a,
#main-navbar li {
    color: #ffffff;
}

footer {
    background-color: #404245;
}

/*------ Navbar ------------*/

#search-button{
    width: 30px;
}

#small-screen-search {
    display: none;
    margin-top: 0;
}

#small-screen-search .input-group {
    width: 100%;
}

/*--------------Media Breakpoints---------*/

@media (max-width: 450px){
    .navbar-brand{
        font-size: 1.5em;
    }
}

@media (max-width: 990px){
    #logo {
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    }
}